* {
  margin: 0;
  padding: 0;
}

 /*General CSS*/
p {
  margin: 1rem 0;
}

p a {
  color: #326891
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.helvetica {
  font-family: helvetica,arial,sans-serif;
}
/*Nav Bar*/

nav {
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgray;
  align-items: center;
  z-index: 1;
}

#nav-logo {
  max-width: 12%;
}

.nav-button {
  padding-right: 2rem;
}
.nav-icon {
  padding-left: 2rem;
  letter-spacing: 0.7px;
  transform: scale(0.8, 0.9);
}
.nav-icon a {
  margin: 0 1rem;
  text-decoration: none;
  color: black;
}
.nav-button button{
  border: none;
  border-radius: 6px;
  padding: .5rem;
  margin: 0 .3rem;
  background-color: rgb(86, 123, 149);
  color: white;
}

/*Main Section of Article*/

.article-layout {
  width: 600px;
  margin: 0 auto;
  margin-top: 2rem;
  font-size: 1.25rem;
}
main {
  padding-top: 6rem;
}

.container-1 {
  font-size: 1.25rem;
}

.title-section h1 {
  font-size: 34px;
  width: 30%;
  margin: 2rem auto;
  font-family: georgia,'times new roman',times,serif;
  font-style: italic;
}

.intro-image{
  width: 1080px;
  margin: 0 auto;
}
.intro-image span {
  color: #888;
  font-size: 14px;
}
.intro-image p {
  width: 75%;
  font-family: georgia,'times new roman',times,serif;
  color: #666;
}

.article-info{
  padding-bottom: 1.5rem;
}

.article-info h4 {
  padding-bottom: 30px;
} 

.article-info p {
  font-size: 16px;
}

.icon-circle{
  background-color: lightgray;
  border-radius: 50%;
}

.article-info i {
  float: right;
  margin: 0 .5rem;
  padding: .5rem;
  color: black;
  font-size: 16px;
}

.thankyou {
  text-align: center;
  font-size: 12px;
}

.thankyou a {
  position: relative;
  top: -13px;
  text-decoration: none;
  color: #326891;
}

.thankbar {
  width: 100px;
  border: 1px solid lightgray;
  margin: 0 auto
}

.edit-picks-float {
  position: absolute;
  right: 200px;
  width: 200px;
}

.editor-title {
  font-size: 15px;
  color: black;
}

.edit-picks-float p {
  font-size: 14px;
}

.editor-art {
  display: block;
  float: left;
  clear: both;
  padding-top: 10px;
}

.editor-pic {
  border-top: 1px solid lightgrey;
}
.editor-art img {
  width: 38%;
  float: left;
  padding: 10px;
}

.editor-art p {
  position: relative;
  top: -6px;
}

.theory {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.theory span {
  color: #666
}

.theory-info {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
  margin-top: 1.5rem;
}

.theory-line {
  width: 5%;
  border: 1px solid black;
  margin: 10px 0;
}

.image-display {
  width: 750px;
  margin: 0 auto;
}

.image-display p{
  color: #666;
}
.image-display p span{
  color: #888;
  font-size: 14px;

}

.video-player { 
  padding: 1rem 0;
}
.video-player p {
  width: 93%;
  color: #666;
  font-size: 15px;
}
.video-player span {
  color: #888;
}
.little-message {
  font-size: 12px;
  color: #888;
}
.little-message a{
  font-size: 12px;
  color: #888;
}

.social-media {
  justify-content: space-between;
  align-items: center;
}
.social-media a {
  margin: 0 .5rem;
  background-color: lightgray;
  border-radius: 50%;
  padding: .5rem;
  color: black;
}
.social-media button {
  border: none;
  border-radius: 6px;
  padding: .5rem 5rem;
  margin: 0 .3rem;
  background-color: rgb(86, 123, 149);
  color: white;
}


/*footer section*/
.main-fcont {
  width: 1200px;
  margin: 2rem auto;
}

.main-fcont p{
  margin: 0;
}
.popular-article {
  flex-direction: column;
  width: 25%;

}
.second-articles{
  width: 75%;
  flex-direction: column;
}

.footer-title {
  padding:1.3rem 2rem 0 0;
  border-top: 1px solid black;
  margin-right: 10px;
}

.rec-articles div {
  width: 272px;
  padding:2rem 2rem 2rem 0;
}

.popular-article h2 {
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid black;
}

.popular-article a {
  border-top: 1px solid gray;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.125rem;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  color: black;
}

.site-nav {
  margin: 20px 200px;
  border-top: 5px double lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 20px;
}

.footer-flex {
  flex-direction: column;
}

.footer-flex a {
  text-decoration: none;
  color: black;
  padding: 4px 0;
}

.above-footer {
  justify-content: space-between;
  font-size: 13px;
}
.above-footer1 {
  justify-content: space-between;
  align-items: center;
}


.above-footer1 img {
  width: 250px;
}
.above-footer1 a {
  color: rgb(86, 123, 149);
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  text-decoration: none;
}

.contact-us {
  justify-content: space-between;
  font-size: 11px;
  padding-top: 5px;
  width: 55%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.contact-us a {
  text-decoration: none;
  color: #666;
}

.last-container {
  border-left: 1px solid lightgray;
  padding-left: 20px;
}

.last-section a {
  padding: 5px 0px;
}

.final-section a {
  padding: 3px 0px;
  font-size: 12px;
}
.final-section {
  padding: 5px 0px;
  border-bottom: 1px solid lightgray;
}

.lang-section a {
  padding: 3px 0px;
  font-size: 12px;
}

.bottom-nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  background: white;
  z-index: 1;
  border-top: 1px solid black;
  padding: 1.5rem;
  clear: both;
  font-size: 12px;
}

.expand-nav {
  position: relative;
  right: 300px;
  float: right;
 }

 .expand-cont {
   margin: 0 1rem;
   text-decoration: none;
 }